*{
    padding: 0;
    margin: 0;
}

.tittle{
    background: black;
    color: white;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.tittle-heading{
    font-size: 30px;
    padding: 10px;
}
.tittle-sub{
    padding: 10px;
}
.section-one{
    padding: 20px;
    
    border: solid black 1px;
    display: inline-block;
    text-align: center;
}
.section-one__tittle{
    font-weight: bolder;
    padding: 5px;
    font-size: 25px;
}
.section-one__disc{
    font-weight: bolder;
    padding: 5px;
    font-size: 15px;
}
.section-one__order{
    color: white;
    background-color: black;
    padding: 10px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.container{
    padding: 10px;
    text-align: center;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
.footer-contact{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
.footer-send{
    width: 200px;
    padding: 5px;
    margin: 5px;
    color: black;
    background: greenyellow;
    border: none;
    display: inline-block;
    border-radius: 5px;
    
}
.footer-table{
   
    padding: 10px;
    display: inline-block;
    

}

